@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/irsans.eot");
  src: url("../../fonts/irsans.eot?#iefix") format("embedded-opentype"), url("../../fonts/irsans.woff2") format("woff2"), url("../../fonts/irsans.woff") format("woff"), url("../fonts/irsans.ttf") format("truetype");
}
