$black-color: #323846;
$gray-100 : #fbf9f3;
$gray-150: #cdcdcd;
$gray-200 : #757575;
$bg-blue: #EEFAFC;
$primary-color: #f9527a;
$blue-color: #2fc2df;
$dark-blue: #2699FB ;
$small-size: 14px;
$medium-size: 16px;
$large-size: 18px
