<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="پلتفرم درمانکده به عنوان سیستم نوبت دهی مطب پزشکان این فرصت را برای شما فراهم می‌سازد تا به سادگی و تنها با چند کلیک درخواست نوبت دهی آنلاین خود را برای تخصص ‌‌های مختلف ثبت کنید.">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/home/css/style.css">
    <link rel="stylesheet" href="../../assets/home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/home/css/owl.theme.default.min.css">
    <title>درمانکده</title>
</head>
<body dir="rtl" class="text-right">
<!--first section-->

<section id="first-section">
    <div class="container-fluid px-0 h-100 d-block" id="app1">
        <div class="row mx-0 bg-white shadow-sm">
            <div class="container w-100 d-flex align-items-center justify-content-between py-3" >
                <div class="position-relative ml-0">
                    <a href="javascript:void(0)" class="menu-button" title="منو"> <i data-feather="align-justify"></i> </a>
                </div>
                <div id="myNav" class="nav-menu border-left bg-white active">
                    <a href="javascript:void(0)" class="menu-close position-absolute"><i class="float-left" data-feather="x"></i></a>
                    <ul class="list-unstyled px-1 menu-box text-medium">
                        <li v-for="menu in menus" class="p-3"><a href="#" class="p-3"> {{menu}} </a></li>
                    </ul>
                </div>
                <div class="logo text-center position-relative">
                    <a href="#" class="" title="درمانکده"><img class="h-100" src="../../assets/home/images/darmankade.png" alt="درمانکده"></a>
                </div>
                <div class="position-relative mr-0 search-icon">
                    <a href="javascript:void(1)" class="search-menu-button" title="سرچ کنید" data-toggle="modal" data-target="#myModal"> <i data-feather="search"></i> </a>
                </div>
<!--modal-->
                <div class="modal fade mb-4" id="myModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content rounded-top">
                            <!-- Modal Header -->
                            <div class="modal-header text-center">
                                <i data-feather="minus" class="rounded mx-auto" style="width: 120px; height: 20px"></i>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body border-0">
                                <div id="searchModal" class="search-Modal p-3 h-100 bg-white active">
                                    <input type="text" class="form-control text-medium h-100 rounded d-block mx-auto border text-gray-200"  id="myInput1" onclick="showDiv1()" onkeyup="filterFunction()" title=" نام پزشک، تخصص یا بیماری" placeholder=" نام پزشک، تخصص یا بیماری" aria-label="Text input with segmented dropdown button">
                                    <div id="myDropdown1" class="dropdown-content1 rounded mb-4 bg-white w-100">
                                        <ul class="list-unstyled text-right">
                                            <a href="" v-for="list in lists"><li class="searchFilter w-100" >{{list.name}}</li></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container h-50">
            <div class="row mx-0 align-items-center my-5 mt-sm-3 mb-sm-2 mt-md-2">
                <div class="title my-4">
                    <h4 class=""> با درمانکده </h4>
                    <h5 class="d-block"> بهترین پزشک را پیدا کن </h5>
                </div>

                <div class="input-group search-input mx-auto">
                    <input type="text" class="form-control text-medium h-100 rounded position-absolute w-100 d-inline-block border-left-0 text-small text-gray-200"  id="myInput" onclick="showDiv()" onkeyup="filterFunction()" title=" نام پزشک، تخصص یا بیماری" placeholder=" نام پزشک، تخصص یا بیماری" aria-label="Text input with segmented dropdown button">
                    <div id="myDropdown" class="dropdown-content bg-white border rounded">
                        <ul class="list-unstyled text-right">
                            <a href="" v-for="list in lists"><li class="searchFilter w-100" >{{list.name}}</li></a>
                        </ul>
                    </div>
                    <div class="input-group-append h-100 position-relative mr-auto">
                        <button type="submit" class="btn px-4 h-100 text-medium btn-primary text-white search-btn rounded-left"> <i data-feather="search"></i> </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container position-absolute popular-search-mobile">
            <div class="row">
                <div class="position-relative popular-search d-flex justify-content-between w-100">
                    <div class="px-3 w-100">
                        <div class="col-md-4 py-1 px-3 col-12 d-inline-block">
                            <div class="row mx-0 justify-content-center w-100">
                                <div class="col-4 px-1 text-center most-popular d-inline-block">
                                    <a class="text-gray-200" title="کلیه" href="#">
                                        <div class="circle shadow bg-white border">
                                            <img src="../../assets/home/images/012-bone.png" alt="کلیه">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-1 most-popular text-center d-inline-block">
                                    <a class="text-gray-200" title="مغز واعصاب" href="#">
                                        <div class="circle shadow bg-white border">
                                            <img src="../../assets/home/images/018-fetus.png" alt="مغز واعصاب">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-1 most-popular text-center d-inline-block">
                                    <a class="text-gray-200" title="قلب" href="#">
                                        <div class="circle shadow bg-white border">
                                            <img src="../../assets/home/images/057-lungs.png" alt="قلب">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-1 px-3 col-12 d-inline-block text-center">
                            <div class="row mx-0 justify-content-center w-100">
                                <div class="col-4 px-1 text-center most-popular d-inline-block">
                                    <a class="text-gray-200" title="کلیه" href="#">
                                        <div class="circle shadow bg-white border">
                                            <img src="../../assets/home/images/012-bone.png" alt="کلیه">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-1 most-popular text-center d-inline-block">
                                    <a class="text-gray-200" title="مغز واعصاب" href="#">
                                        <div class="circle shadow bg-white border">
                                            <img src="../../assets/home/images/018-fetus.png" alt="مغز واعصاب">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-1 most-popular text-center d-inline-block">
                                    <a class="text-gray-200" title="قلب" href="#">
                                        <div class="circle shadow bg-white border">
                                            <img src="../../assets/home/images/057-lungs.png" alt="قلب">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-1 px-3 col-12 d-inline-block text-center">
                            <div class="row mx-0 justify-content-center w-100">
                                <div class="col-4 px-1 text-center most-popular d-inline-block">
                                    <a class="text-gray-200" title="کلیه" href="#">
                                        <div class="circle shadow bg-white border">
                                            <img src="../../assets/home/images/012-bone.png" alt="کلیه">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-1 most-popular text-center d-inline-block">
                                    <a class="text-gray-200" title="مغز واعصاب" href="#">
                                        <div class="circle shadow bg-white border">
                                            <img src="../../assets/home/images/018-fetus.png" alt="مغز واعصاب">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-1 most-popular text-center d-inline-block">
                                    <a class="text-gray-200" title="قلب" href="#">
                                        <div class="circle shadow bg-white border">
                                            <img src="../../assets/home/images/057-lungs.png" alt="قلب">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="icon-animation d-flex justify-content-center align-items-baseline w-100 d-block mx-auto text-center">
                            <div class="chevron text-blue-light"></div>
                            <div class="chevron text-blue-light"></div>
                            <div class="chevron text-blue-light"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="second-section">
    <div class="container px-0 pr-3 w-100">
        <div class="d-block pl-3">
            <div class="border border-blue consultation w-100 rounded-20">
                <a class="btn btn-primary position-relative rounded-box-link rounded-20 px-3" href="#" title="آنلاین مشاوره بگیر">  آنلاین مشاوره بگیر <i data-feather="chevron-left" class=""></i></a>
            </div>
        </div>

        <div class="container px-0 most-views-hospital pt-4">
            <div class="row mx-0 align-items-center justify-content-between">
                <h5 class="text-right mb-0 align-items-center"> <i data-feather="square" class="bg-dark border-0 text-dark"></i> پربازدیدترین داروخانه ها </h5>
                <a href="#" class="float-left  ml-3 my-auto text-medium text-blue-light"><span class="underline">بیشتر</span>   <i data-feather="chevron-left"></i></a>
            </div>
            <div class="mt-5 px-0 w-100" dir="ltr">
                <div class="owl-carousel text-center slider_box d-block">
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_0200.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 my-4 underline text-blue-light text-small">  فارابی </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_1359.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 my-4 underline text-blue-light text-small"> البرز </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_0200.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 my-4 underline text-blue-light text-small">  احد </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_1359.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 my-4 underline text-blue-light text-small"> عنایت </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_0200.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 my-4 underline text-blue-light text-small">  تقی </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_1359.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 my-4 underline text-blue-light text-small"> فارابی </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!--third section-->
<section>
    <div class="container w-100 py-3">
        <div class="d-block">
            <div class="border border-blue visit w-100 rounded-20">
                <a class="btn btn-primary position-relative rounded-box-link rounded-20 px-3" href="#" title="رایگان ویزیت شو">  رایگان ویزیت شو <i data-feather="chevron-left" class=""></i></a>
            </div>
        </div>

        <div class="container px-0 most-views-hospital pt-4">
            <div class="row mx-0 align-items-center justify-content-between">
                <h5 class="text-right mb-0 align-items-center"> <i data-feather="square" class="bg-dark border-0 text-dark"></i> پربازدیدترین دارو ها </h5>
                <a href="#" class="float-left my-auto text-medium text-blue-light"> <span class="underline">بیشتر</span> <i data-feather="chevron-left"></i></a>
            </div>
            <div class="mt-5 px-0 w-100" dir="ltr">
                <div class="owl-carousel text-center slider_box d-block">
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_0200.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 underline my-4 text-blue-light text-small"> آموکسی سیلین </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_1359.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 underline my-4 text-blue-light text-small"> زیمپت </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_0200.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 underline my-4 text-blue-light text-small">  قرص </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_1359.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 underline my-4 text-blue-light text-small">  عنایت </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_0200.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 underline my-4 text-blue-light text-small"> تقی </span>
                        </a>
                    </div>
                    <div class="bg-white text-center rounded-10 p-3 h-100 w-100" >
                        <a href="#" title="اسلایدر">
                            <img src="../../assets/home/image-mobile/DSC_1359.png" class="rounded-circle p-2" alt="اسلایدر">
                            <span class="text-gray-200 underline my-4 text-blue-light text-small">  فارابی </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
<div class="container">
    <div class="col-12 px-0">
        <div class="row mx-0 rounded-20 p-3 pb-0 border border-blue bg-blue-light">
            <div class="col-6 text-medium download-app">
                <h5> دانلود اپلیکیشن درمانکده </h5>
                <ul class="list-unstyled mr-0 h-25">
                    <li>کارآیی بهتر درآپ</li>
                    <li>کارآیی بهتر درآپ</li>
                    <li>کارآیی بهتر درآپ</li>
                </ul>
                <div class="h-50 w-100">
                    دانلود اپ
                </div>
            </div>
            <div class="col-6 mobile-pic">

            </div>
        </div>
        <div class="accordion">
            <div class="panel-group my-4" id="accordion">
                <div class="panel panel-default bg-white my-2 py-2">
                    <div class="panel-heading">
                        <h4 class="panel-title my-auto pr-3 text-medium">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <!--                <i class="feather-plus" data-feather="plus"></i>-->
                                <!--                <i class="feather-minus" data-feather="minus"></i>-->
                                درمانکده
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body p-2 text-medium">
                            پلتفرم درمانکده به عنوان سیستم نوبت دهی مطب پزشکان این فرصت را برای شما فراهم می‌سازد تا به سادگی و تنها با چند کلیک درخواست نوبت دهی آنلاین خود را برای تخصص ‌‌های مختلف ثبت کنید
                        </div>
                    </div>
                </div>
                <div class="panel panel-default bg-white my-2 py-2">
                    <div class="panel-heading">
                        <h4 class="panel-title pr-3 my-auto text-medium">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="glyphicon glyphicon-plus"></span>
                                برای بیماران
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body p-2 text-medium">
                            متن برای بیماران
                        </div>
                    </div>
                </div>
                <div class="panel panel-default bg-white my-2 py-2">
                    <div class="panel-heading">
                        <h4 class="panel-title pr-3 my-auto text-medium">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="glyphicon glyphicon-plus"></span>
                                برای پزشکان
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body p-2 text-medium">
                            متن برای پزشکان
                        </div>
                    </div>
                </div>
                <div class="panel panel-default bg-white my-2 py-2">
                    <div class="panel-heading">
                        <h4 class="panel-title my-auto pr-3 text-medium">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <span class="glyphicon glyphicon-plus"></span>
                                برای کلینیک ها
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body p-2 text-medium">
                            متن برای کلینیک ها
                        </div>
                    </div>
                </div>
                <div class="panel panel-default bg-white my-2 py-2">
                    <div class="panel-heading">
                        <h4 class="panel-title pr-3 text-medium">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                <span class="glyphicon glyphicon-plus"></span>
                                برای منشی ها
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body p-2 text-medium">
                            متن برای منشی ها
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--footer-->
<footer>
    <div class="container-fluid bg-blue">
        <div class="container row mx-0 py-3">
            <div class="col-12 text-center logo-footer">
                <a href="" title="درمانکده"><img src="../../assets/home/images/darmankade_Vector%20with%20heart.png" alt="درمانکده"></a>
            </div>
            <div class="col-12 text-white text-center text-small pt-3 description-footer">
                <p class="text-medium"> درمانکده، درمانگاه یا مطب خاصی نیست و یک سایت نوبت دهی برای مطب پزشکان است. </p>
            </div>
            <div class="col-12 row py-3 px-0 mx-auto text-center justify-content-center">
                <div class="bg-white border rounded-20 mx-2 mx-sm-3 py-2">
                    <a href="" title="نماد اعتماد الکترونیکی"><img class="reliability" src="../../assets/home/images/logo.aspx@2x.png" alt="نماد اعتماد الکترونیکی"></a>
                </div>
                <div class="bg-white border rounded-20 mx-2 mx-sm-3 py-2">
                    <a href="" title="نشان ملی ثبت نشانه های دیجیتال"><img class="reliability" src="../../assets/home/images/logo2.aspx.png" alt="نشان ملی ثبت نشانه های دیجیتال"></a>
                </div>
            </div>
            <div class="col-12">
                <div class="socials">
                    <ul class="list-inline d-flex mx-0 px-0 list-unstyled py-2 row justify-content-between">
                        <li class="social rounded-circle border border-white p-2"><a href="../" title="ایمیل ما"> <i data-feather="mail"  class="text-white"></i> </a> </li>
                        <li class="social rounded-circle border border-white p-2"><a href=".." title="تلفن مل"> <i data-feather="phone" class="text-white"></i> </a></li>
                        <li class="social rounded-circle border border-white p-2"><a href="" title="اینستاگرام ما"> <i data-feather="instagram" class="text-white"></i> </a> </li>
                        <li class="social rounded-circle border border-white p-2"><a href="" title=" تلگرام ما"> <i data-feather="send" class="text-white"></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copy-write bg-dark">
    <div class="container row py-1 mx-0 h-100 text-white">
        <p class="text-medium d-flex  align-items-center mx-auto mb-0">تمامی حقوق این سایت برای درمانکده محفوظ است </p>
        <p class="float-left primary-size mb-0 mr-auto d-none"> طراحی شده با <i data-feather="heart" class="text-danger"></i> توسط تیم درمانکده </p>
    </div>
</div>


<script src="../../assets/js/jquery-3.4.1.min.js"></script>
<script src="../../assets/js/popper.min.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/owl.carousel.min.js"></script>
<script src="../../assets/js/feather.min.js"></script>
<script src="../../assets/js/vue.min.js"></script>
<script src="../../assets/js/main-mobile.js"></script>
</body>
</html>
