@import "../../scss/app";
.search-page{
  width: 700px;
  height: 50px;
  input{
    left: 0%;
  }
}
.search-btn{
  left: 1%;
  top: 7%;
}
.mega-menu{
  left: -17.4%;
}
.reliability{
  width: 110px;
  height: auto;
}
.banner{
  min-height: 300px;
}
@media (min-width: 10px) and (max-width: 395px) {
  .reliability{
    width: 75px;
    height: auto;
  }
}
